<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <sendboxshipping>
            <webhook>0</webhook>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Sendbox\Sendboxshipping\Model\Carrier\Shipping</model>
                <name>Sendbox Shipping</name>
                <title>Sendbox Shipping Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
              <pickup>0</pickup>
            </sendboxshipping>
        </carriers>
    </default>
</config>